body {background-image:url('rh_logo4_background.jpg');}
P {color:blue; background-color:red;}
H1 {color:black; background-color:red; font-size:67; font-family:Times New Roman; text-align:center}
H2 {color:#FFFF00; background-color:#FF0000; font-size:42; font:Georgia; text-align:left}
/*background taken from http://www.cosmosfactory.org/images/logos/rh_logo4.jpg*/
