{% extends 'twu/base.html' %}

{% load staticfiles %}

{% block body_block %}
<script>
function closeWin() {
    myWindow.close();
}
</script>

<script>
window.onload = function() {
    document.getElementById("scream.mp3").play();
}
</script>

<html>

</head>
    <head>
        <title>Game Over...</title>
    </head>

    <body>
	<h1>You have died</h1><br> <h3> {{score}} </h3>
	<br><br><br><br>
	<a href="{% url 'scoreboard'%}"><h3>Scoreboard</h3></a>


	<audio autoplay>
 		<source src="/static/scream.mp3" />
 		<!-- fallback -->
  	            <embed type="application/x-shockwave-flash"                                                         
    			flashvars="audioUrl=/static/scream.mp3"    
     			    src="http://www.google.com/reader/ui/3523697345-audio-player.swf"   
     				width="650? height="0? quality="best"></embed>
	</audio>
    </body>

</html>
{% endblock %}