{% extends 'twu/base.html' %}

{% load staticfiles %}

{% block title %}Game Over{% endblock %}

{% block body_block %}
<script>
<!-- javascript to close window-->
function closeWin() {
    myWindow.close();
}
<!-- javascript for on death audio-->
window.onload = function() {
    document.getElementById("scream.mp3").play();
}
</script>

<!-- shows score, from ajax call-->
	<h1>You have died</h1><br> <h3> {{score}} </h3>
	<br><br><br><br>
	<a href="{% url 'scoreboard'%}"><h3>Scoreboard</h3></a>


	<audio autoplay>
 		<source src="/static/scream.mp3" />
 		<!-- fallback -->
  	            <embed type="application/x-shockwave-flash"                                                         
    			flashvars="audioUrl=/static/scream.mp3"    
     			    src="http://www.google.com/reader/ui/3523697345-audio-player.swf"   
     				width="650? height="0? quality="best"></embed>
	</audio>

{% endblock %}