{% extends 'twu/base.html' %}
{% load staticfiles %}

{% block title %}Game Page{% endblock %}
{% block top_block_left %}
<br><br><br>
<script>
function howToPlay() {
    window.open("{% url 'howto3' %}", "_blank", "resizable=yes");
}
function showgameover(){
            url = "gameover"
            newwindow=window.open(url,'gameover','height=500,width=900');
            if (window.focus) {newwindow.focus()}
        }
</script>
<text onclick="howToPlay()"><h4>How To Play</h4></button>
<br>
  


{% endblock %}


{% block side_blockl %}
<br><br><br><br>
<img style="width: 5vw; height: 5vw;" alt="" src="{% static 'images/Heart_corazon.svg.png' %}" >Life<br>
<img style="width: 5vw; height: 5vw;" alt="" src="{% static 'images/45_acp_rn_silver_bullet.jpg' %}"><p>Bullets</p>
<br><br><br>
<img style="width: 10vw; height: 6vw;" alt="" src="{% static 'images/baseballbatL.jpg' %}" ><br>&lt;&lt;melee weapon title and hit value&gt;&gt;
<br><br><br><br><br>
<img style="width: 10vw; height: 5vw;" alt="" src="{% static 'images/gun.png' %}" ><br><br><br><br><br>&lt;&lt;Firearm title and hit value&gt;&gt;<br>
{% endblock %}
{% block side_block %}
<br><br><br><br>
<img style="width: 10vw; height: 10vw;" alt="" src=" {% static 'images/mzi.loltlnrb.png' %} "><br>&lt;&lt;To be updated when rolled&gt;&gt;<br><br><br><br>
<img style="width: 25%; height: 10%" alt="" src="{% static 'images/spacer.png' %}">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/up_arrow.png' %}" name="up" class="btTxt submit" id="up">
<br>
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/left_arrow.png' %} " name="left" class="btTxt submit" id="left">
<img style="width: 25%; height: 10%"  alt="" src="{% static 'images/spacer.png' %} ">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/right_arrow.png' %} " name="right" class="btTxt submit" id="right">
<img style="width: 25%; height: 10%"  alt="" src="{% static 'images/spacer.png' %} ">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/down_arrow.png' %} " name="down" class="btTxt submit" id="down">
<br><br><br><br><br>
&lt;&lt;SCORE COUNTER&gt;&gt;
{% endblock %}

{% block body_block %}
<div id="game_screen">
{% if tiles %}
	{% for row in tiles %}
		{% for tile in row %}
		{% if tile != '0' %}
			<img style="width: 9vw; height: 6vw;"  alt="" src="../../static/images/{{ tile }}.png"> <!--Static file reference does not work here-->
		{% endif %}
		{% endfor %}
		<br>
	{% endfor %}
{% endif %}
</div>
<br>
&lt;&lt;in game text feedback box&gt;&gt; <br>
You pick up 2 Health Packs and 1 Bullet<br>
You find a Shotgun, aka your "Boom Stick"<br>
You see 3 Zombies
<br><br>


<text onclick="showgameover()"><h4>Game Over</h4></button>
{% endblock %}
