{% extends 'twu/base.html' %}
{% load staticfiles %}

{% block title %}Game Page{% endblock %}
{% block top_block_left %}
<br>
<script>
<!-- javascript to open a how to play page in a new window-->
function howToPlay() {
    window.open("{% url 'howto3' %}", "_blank", "resizable=yes");
}
</script>
<text onclick="howToPlay()"><h4>How To Play</h4></text><br><br>
<!-- Plays the game music, by Jonathan Coulton, with a mute button-->
<audio id="player" src="/static/brains.mp3" autoplay loop></audio>
<div>
    <button style="background-color:transparent; color:white" onclick="document.getElementById('player').muted=!document.getElementById('player').muted"> Mute/Unmute </button>
</div>
<br>
  


{% endblock %}

<!-- side block with health, ammo and weapons. Updated by ajax calls to div id left_bar-->
{% block side_blockl %}
<br><br><br><br>
<div id="left_bar">
<img style="width: 5vw; height: 5vw;" alt="" src="{% static 'images/Heart_corazon.svg.png' %}" >30<br>
<img style="width: 5vw; height: 5vw;" alt="" src="{% static 'images/45_acp_rn_silver_bullet.jpg' %}">6
<br><br><br>
<img style="width: 10vw; height: 6vw;" alt="" src="{% static 'images/batTrue.png' %}" ><br>Bat - 5+ to hit
<br><br><br><br><br>
<img style="width: 10vw; height: 5vw;" alt="" src="{% static 'images/pistolTrue.png' %}" ><br><br><br>Pistol - 3+ to hit<br>
</div>
{% endblock %}
{% block side_block %}
<br><br><br><br>
<!-- javascript to create dice roll gif, then hide it behind the result-->
<script type = "text/javascript">

function show() {
	document.getElementById("dice").style.display="none";
    document.getElementById("myDiv").style.display="block";
    setTimeout("hide()", 1000);  // 5 seconds
}

function hide() {
	document.getElementById("dice").style.display="block";
    document.getElementById("myDiv").style.display="none";
}

</script>
<!-- dice roll images. Static files did nto work for updating these images, so a dynamic link used instead-->
<div id = "myDiv" style="display:none"><img id = "myImage" style="width: 10vw; height: 10vw;" src = "{% static 'images/dice.gif' %}"></div><br>
<!-- dice gif and update called by ajax using div id-->
<div id="dice" class="move">
<input type="image" style="width: 10vw; height: 10vw; display:block" alt="" src="../../static/images/dice5.png" class="dice" onclick="show()"><br>
</div>
<br><br><br><br>
<!-- movement arrows. Spacer used to align arrows correctly, and ensure a blank space between them all-->
<img style="width: 25%; height: 10%" alt="" src="{% static 'images/spacer.png' %}">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/up_arrow.png' %}" name="up" class="btTxt submit move" id="up">
<br>
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/left_arrow.png' %} " name="left" class="btTxt submit move" id="left">
<img style="width: 25%; height: 10%"  alt="" src="{% static 'images/spacer.png' %} ">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/right_arrow.png' %} " name="right" class="btTxt submit move" id="right">
<img style="width: 25%; height: 10%"  alt="" src="{% static 'images/spacer.png' %} ">
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/down_arrow.png' %} " name="down" class="btTxt submit move" id="down">

<br>
<!-- score updated by ajax-->
Score :
<div id="score_counter">
0
</div>
{% endblock %}

{% block body_block %}
<!-- dynamic map. calls all map images from mat matrix, and renders each tile individually. Again, static files did not work here.-->
<div id="game_screen">
{% if tiles %}
	{% for row in tiles %}
		{% for tile in row %}
		{% if tile != '0' %}
			<img style="width: 9vw; height: 6vw;" alt="" src="../../static/images/{{ tile }}.png"> <!--Static file reference does not work here-->
		{% endif %}
		{% endfor %}
		<br>
	{% endfor %}
{% endif %}

<br>
<!-- text feedback,updated via ajax on movement and dice rolls-->
<div id ="text_box" align="center">
&lt;&lt;in game text feedback box&gt;&gt; <br>

</div>
</div>


{% endblock %}
