{% extends 'twu/base.html' %}
{% load staticfiles %}
{% block title %}How To Play{% endblock %}
{% block body_block %}

<table style="text-align: left; width: 100%; height: 90%;" border="0" cellpadding="2" cellspacing="2">
<br>
<tbody>
<tr>
<br><br>
<td style="width: 20%;"><img style="width: 90%; height: 80%;" alt="" src="{% static 'images/sample_map.png' %}"></td>
<td>This is the map. The green circle is you, and the grey lines represent where you can explore.</td>
</tr>
<tr>
<td><br><br>
<img style="width: 90%;" alt="" src="{% static 'images/fog_element.jpg' %}"></td>
<td>This shows that the map tile has not yet been explored.</td>
</tr>
<tr>
<td><br><br>
<br>POINTS<br>
<br>
<p>    9001</p></td>
<td>Here you can see your current score. As with most scores, the higher the better.</td>
</tr>
<tr>
<td><br><br>
<img style="width: 15%;" align="middle" alt="" src="{% static 'images/spacer.png' %}">
<img style="width: 15%; " align="middle" alt="" src="{% static 'images/up_arrow.png' %}"><br>
<img style="width: 15%;  align="left" alt="" src="{% static 'images/left_arrow.png' %}">
<img style="width: 15%; " align="middle" alt="" src="{% static 'images/spacer.png' %}">
<img style="width: 15%; "  alt="" src="{% static 'images/right_arrow.png' %}"><br>
<img style="width: 15%; " align="middle" alt="" src="{% static 'images/spacer.png' %}">
<img style="width: 15%; "  alt="" src="{% static 'images/down_arrow.png' %}"></td>
<td>Your Movement keys. Click to move to a new tile. You can also use the keyboard arrows, and the WASD keys.</td>
</tr>
</tbody>
</table>
{% if user.is_authenticated %}
<br><a href="{% url 'game'%}">  
<img border="0"  align ="right" class="newmap" id ="newmap" src="{% static 'images/zombiehand.png' %}"></a>
{% else %}
<br><a href="{% url 'auth_login'%}">  
<img border="0"  align ="right" src="{% static 'images/zombiehand.png' %}"></a>
{% endif %}
 
{% endblock %}