{% extends 'twu/base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}






{% block body_block %}

<h3>
{% if user.is_authenticated %}
<a id="newmap" href="{% url 'game'%}">  Play game</a>
<input type="image" border="0"  align ="right" src="{% static 'images/PlayGame.png' %}" name="PlayGame" class="newmap" id="newmap"></a>


<form action="{% url 'game' %}">
    <input type="submit" id ="newmap" class="newmap" style="background-color: transparent; border-color: transparent;" value=" Play Game">
	</form>
{% else %}
<form action="{% url 'auth_login' %}">
    <input type="submit" id ="newmap" class="newmap" style="background-color: transparent; border-color: transparent;" value=" Log In To Play">
	</form>
{% endif %}

<br>
<form action="{% url 'howto1' %}">
    <input type="submit" style="background-color: transparent; border-color: transparent;" value="How To Play">
</form><br>
<form action="{% url 'scoreboard' %}">
    <input type="submit" style="background-color: transparent; border-color: transparent;" value="Scoreboard">
</form></h3>

{% endblock %}