{% extends 'twu/base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}






{% block body_block %}
<script>
function logginToPlay() {
    window.alert("Log In To Play");
	}
	</script>
<h3>
{% if user.is_authenticated %}
<input type="image" style="width: 25%; height: 10%"  alt="" src="{% static 'images/up_arrow.png' %}" name="up" class="newmap" id="newmap">

<form action="{% url 'game' %}">
    <input type="submit" id ="newmap" class="newmap" style="background-color: transparent; border-color: transparent;" value=" Play Game">
	</form>
{% else %}
<form action="{% url 'auth_login' %}">
    <input type="submit" id ="newmap" class="newmap" style="background-color: transparent; border-color: transparent;" value=" Log In To Play">
	</form>
{% endif %}

<br>
<form action="{% url 'howto1' %}">
    <input type="submit" style="background-color: transparent; border-color: transparent;" value="How To Play">
</form><br>
<form action="{% url 'scoreboard' %}">
    <input type="submit" style="background-color: transparent; border-color: transparent;" value="Scoreboard">
</form></h3>

{% endblock %}