<img style="width: 5vw; height: 5vw;" alt="" src="../../static/images/Heart_corazon.svg.png" >{{health}}<br>
<img style="width: 5vw; height: 5vw;" alt="" src="../../static/images/45_acp_rn_silver_bullet.jpg">{{bullets}}
<br><br><br>
<img style="width: 10vw; height: 6vw;" alt="" src="../../static/images/{{melee_name}}{{ranged_used}}.png" ><br>{{melee_name}} Roll {{melee_power}}+ to hit
<br><br><br><br><br>
<img style="width: 10vw; height: 5vw;" alt="" src="../../static/images/{{ranged_name}}{{ranged_used}}.png" > ><br><br><br>{{ranged_name}} Roll {{ranged_power}} to hit<br>